.pies {
  text-align: center;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}

.pieBlock {
  display: flex;
  justify-content: space-around;
}

.partyName {
  font-weight: 600 !important;
}
