.sidebar {
  min-width: 25vw;
  max-width: 25vw;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 60px;
}

.header {
  position: fixed;
  top: 0px;
  width: 25vw;
  height: 60px;
  text-align: center;
  background-color: #3b92ff;
  color: white;
  line-height: 60px;
  font-size: 20px;
}
