.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 10vh;
  position: fixed;
  width: 100%;
  background-color: black;
}

.footer-text {
  color: white;
}
